<%- include('header') %>


    <!-- view subcategory Admin side -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">View Sub category [Admin side]</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sub Category</th>
                                    <th scope="col">Main Category</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% view.map((val, index)=>{ %>
                                    <% if(val.category_id.status==='1' ){ %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= val.subcategory_name %>
                                            </td>
                                            <td>
                                                <%= val.category_id.category_name %>
                                            </td>
                                            <td>
                                                <a href="/subCatDelete/<%= val.id %>" class="btn btn-danger">Delete</a>
                                                ||
                                                <a href="/subCatEdit/<%= val.id %>" class="btn btn-success">Edit</a>
                                            </td>
                                            <td>
                                                <% if(val.status==='1' ){ %>
                                                    <a href="/subCatActive/<%= val.id %>"
                                                        class="btn btn-primary">Active</a>
                                                    <% }else{ %>
                                                        <a href="/subCatDeactive/<%= val.id %>"
                                                            class="btn btn-warning">Deactive</a>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- view subcategory User side -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">View Sub category [User side]</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sub Category</th>
                                    <th scope="col">Main Category</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% view.map((val, index)=>{ %>
                                    <% if(val.status === '1' && val.category_id.status === '1'){ %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= val.subcategory_name %>
                                            </td>
                                            <td>
                                                <%= val.category_id.category_name %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <%- include('footer') %>